body {
  background: #010203;
  overflow-x: hidden !important;
}

@font-face {
  font-family: "TTComonsBold";
  src: url(fonts/TTcomons/TTCommons-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "TTComonsDemiBold";
  src: url(fonts/TTcomons/TTCommons-DemiBold.ttf) format("truetype");
}

.App {
  text-align: center;
  margin: auto 5%;
}

.navBar {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;

  div > h2 {
    margin-top: 0.5rem;
    text-align: left;
    background: -webkit-linear-gradient(#eeeeee, #5e5e5e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 24px rgb(0, 0, 0));
    font-size: 16px;
    cursor: pointer;
    font-family: "TTComonsBold";
  }
  div > h3 {
    margin-top: -0.9rem;
    text-align: center;
    background: -webkit-linear-gradient(#eeeeee, #5e5e5e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 24px rgb(0, 0, 0));
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "TTComonsBold";
  }

  h4 {
    margin-top: 0.5rem;
    font-size: 16px;
    color: #3e257a;
    font-family: "TTComonsDemiBold";
    position: absolute;
    right: 6%;
  }
}

.envelopeIcon {
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.envelopeIcon:hover {
  color: #6c0eff;
  transition: 0.25s ease-in-out;
}

.constructionText {
  margin-top: 12.5%;
  margin-left: 7.5%;
  text-align: left;
  h1 {
    text-align: left;
    color: #e1e1e1;
    font-family: "TTComonsBold", sans-serif;
    margin-bottom: -0.4rem;
    display: flex;
  }
  h2 {
    text-align: left;
    color: #e1e1e1;
    font-family: "TTComonsDemiBold", sans-serif;
    margin-bottom: -0.1rem;
  }
  h3 {
    text-align: left;
    font-family: "TTComonsDemiBold";
    color: #adadad;
    margin-top: 2rem;
    margin-bottom: -5px;
  }
  h5 {
    text-align: left;
  }

  h6 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    transform: rotate(-45deg) perspective(0);
    position: relative;
  }
}

.facebookIcon {
  margin-right: 10px;
  color: #294279;
  transition: 0.1s ease-in-out;
  transition: 0.25s ease-in-out;
}

.facebookIcon:hover {
  color: #234a9e;
  transition: 0.25s ease-in-out;
}

.instagramIcon {
  margin-right: 10px;
  margin-top: 2px;
  color: #c2226a;
  transition: 0.25s ease-in-out;
}

.instagramIcon:hover {
  color: #db1d73;
  transition: 0.25s ease-in-out;
}

.twitterIcon {
  margin-top: 2px;
  color: #0f93c7;
  margin-right: 14px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.twitterIcon:hover {
  color: #00acee;
  transition: 0.25s ease-in-out;
}

.mailIcon {
  margin-top: 2px;
  color: rgb(41, 173, 74);
  margin-right: 15px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.mailIcon:hover {
  color: rgb(48, 209, 88);
  transition: 0.25s ease-in-out;
}

.underConstruction {
  width: 75%;
  margin-top: 15%;
  padding-bottom: 20%;
  filter: drop-shadow(0px 30px 14px rgb(32, 21, 9));
}

.stirringPic {
  display: inline-block;
  position: relative;
}

.stirringPic:after {
  position: absolute;
  content: "";
  border-bottom: 7px solid rgb(53, 34, 13);
  border-radius: 10px;
  width: 80%;
  transform: translateX(-93%);
  bottom: 16.4%;
}

.footer {
  margin: 2rem 2.5%;
  font-family: "TTComonsDemiBold", sans-serif;
}

.pageFooter {
  h4 {
    text-align: left;
    color: #adadad;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  h6 {
    color: #8a8a8a;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  h6:hover {
    color: #6c0eff;
    text-decoration: none;
    transition: 0.1s ease-in-out;
  }
}

.contactFooter {
  h4 {
    color: #adadad;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }

  h5 {
    text-align: left;
    text-transform: uppercase;
  }

  h6 {
    color: #8a8a8a;
    transition: 0.1s ease-in-out;
    text-align: left;
    margin-bottom: 0px;
  }

  h6:hover {
    color: #6c0eff;
    transition: 0.1s ease-in-out;
  }
}

.footerIcon {
  text-align: left;
  margin-right: 5px;
  font-size: 1.5rem;
}

.mapIcon {
  text-align: left;
  margin-left: 1.5px;
  margin-right: 3px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 792px) {
  .constructionText {
    margin-top: 8%;
    margin-left: 1.5%;
  }

  .underConstruction {
    margin-top: 10%;
  }

  .footer {
    margin: 2rem -1%;
  }

  .pageFooter {
    margin-top: 20px;
  }
}
